
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #30E4DD, #3E2C6C);
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: -10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 100px;
    background-color: #434462;
    background-clip: content-box;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.cropped {
    overflow: hidden;
}
.cropped img {
    margin: -35px -40px -30px 20px;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}
.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.text-small {
    font-size: 85%;
}

.card {
    margin-bottom: 20px;
    border: none !important;
    background: none !important;
}

.logo{
    position:fixed;
    top:0;
}

.box {
    float: left;
    width: 500px;
    padding: 40px;
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    background: #191919;
    border-radius: 15px;
    text-align: center;
    transition: 0.25s;
    margin-top: 150px
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.r-banner {
    text-align: center;
    margin-top: 385px !important;
}

.r-banner h1{
    white-space: normal;
    text-align: center;
    color: #e3fbfd;
    margin-bottom: 40px;
}

.r-banner a[role="button"]{
    background: none;
    display: block;
    margin: 40px auto;
    text-align: center;
    border: 2px solid #0dc8ee;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.r-banner a[role="button"]:hover {
    background: #0dc8ee
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoGithub:hover {
    background-color: #22272e;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoGithub:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
}

.progress {
    height: 6px;
    overflow: visible;
    margin-bottom: 10px;
    background: #434462;
}

.progress .progress-bar {
    position: relative
}

.progress .progress-bar {
    height: 100%;
    color: inherit
}

.bg-c-taken {
    background: #00fdfd
}

.bg-c-taken-profile {
    background: #fca581
}

.progress .progress-bar.bg-c-taken:after {
    border: 3px solid #00fdfd
}

.progress .progress-bar:after {
    content: "";
    background:#434462;
    position: absolute;
    /*right: -6px;*/
    right: -12px;
    top: -4px;
    border-radius: 50%;
    width: 15px;
    height: 15px
}

.main-div {
    color: #212529;
    /*margin-left: -90px;*/
    overflow: auto;
    height: 894px;
}

.main-div img {
    margin-left: -15px;
    margin-right: 20px;
}

.main-div i {
    width: 1em;
    height: 1em;
    margin: 5px;
}

.login-input i {
    font-size: 24px;
    float: right;
    margin: -65px 30px;
    cursor: pointer;
    color: aliceblue;
}

.file-card {
    margin: 0 !important;
}

.folder-card {
    margin: 0 !important;
    opacity: 1;
    transition: 0.3s;
}

.delete-form {
    position: absolute;
    right: 0;
    margin: 15px 10px;
}

.create-form i {
    color: 	#f0f8ff;
    font-size: 84px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 80px 120px;
    opacity: 0.6;
    transition: 0.3s;
}

.create-form h5{
    color: #212529;
}

.create-form-file form {
    margin: 50px 40px 40px 40px;
}

.create-form-folder form {
    margin: 30px 40px 10px 40px;
}

.create-form i:hover {
    opacity: 1
}

.plans .card {
    background: #f0f8ff !important;
    border:none;
    border-radius: 0.5rem !important;
    padding: 10px 50px;
}

.plans .card::after {
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.plans .card:hover {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
}

#back_button i:hover,
#submit_button:hover,
#search_button:hover,
.plans .card:hover::after {
    opacity: 1;
}

.plans .card:hover .btn-outline-primary{
    color:white;
    background:#007bff;
}
.plans li {
    background: #f0f8ff;
}
.fa-weight-hanging,
.fa-download,
.fa-trash,
.fa-edit,
.fa-search {
    color : #f0f8ff !important;
}

.gradient-custom {
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.fa-download:hover,
.fa-trash:hover,
.fa-edit:hover{
    color: #212529 !important;
}

.border-right { border-right: 1px solid #eee; }

.modal-custom {
    background-color: #f0f8ff;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }

.modal-custom input {
    margin-bottom: 15px;
}

.nav-custom li {
    opacity: 1;
    transition: 0.3s;
}

.nav-custom li:hover {
    opacity: 0.6;
}

.block-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.7rem;
}

.search-button {
    position: absolute;
}

.footer-container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.disModal {
    font-size: 64px;
    color: red;
    float: right;
    margin: -65px -15px;
}

.restore-button {
    color: aliceblue;
    width: 26px;
    height: 26px;
    font-size: 18px;
    margin: -13px -40px;
}

#deleteModal form {
    width: 100%;
}
#deleteModal button {
    color: #434462;
}

#deleteModal p {
    margin-top: 10px;
}

#space_text {
    text-align: center;
    font-size: 36px;
    margin-top: -40px;
}

#submit_button {
    margin: auto;
    width: 240px;
    height: 50px;
    border-radius: 30px;
    background-color: #434462;
    border-color: #434462;
    opacity: 0.6;
    transition: 0.3s;
}

#home_button {
    float: right;
}

#home_button button {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 95px -250px;
    opacity: 0.6;
    transition: 0.3s;
}

#back_button {
    float: left;
}

#back_button button {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 90px 0;
}

#back_button i{
    font-size: 64px;
    color: #212529;
    opacity: 0.6;
    transition: 0.3s;
}

#search_button {
    opacity: 0.6;
    transition: 0.3s;
}

#search_input {
    display: inline !important;
    width: auto !important;
    border-radius: 20px !important;
}

#dropdownUser1 strong{
    color: #f0f8ff;
}

#back_button button:focus,
#submit_button:focus,
#search_button:focus,
#search_input:focus,
#home_button .btn:focus,
.delete-form button:focus{
    outline: none;
    box-shadow: none;
}

.page-404 .outer {
    position: absolute;
    top: 0;

    display: table;

    width: 100%;
    height: 100%;
}
.page-404 .outer .middle {
    display: table-cell;

    vertical-align: middle;
}
.page-404 .outer .middle .inner {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.page-404 .outer .middle .inner .inner-circle {
    height: 300px;

    border-radius: 50%;
    background-color: #ffffff;
}
.page-404 .outer .middle .inner .inner-circle:hover i {
    color: #39bbdb!important;
    background-color: #f5f5f5;
    box-shadow: 0 0 0 15px #39bbdb;
}
.page-404 .outer .middle .inner .inner-circle:hover span {
    color: #39bbdb;
}
.page-404 .outer .middle .inner .inner-circle i {
    font-size: 5em;
    line-height: 1em;

    float: right;

    width: 1.6em;
    height: 1.6em;
    margin-top: -.7em;
    margin-right: -.5em;
    padding: 20px;

    -webkit-transition: all .4s;
    transition: all .4s;
    text-align: center;

    color: #f5f5f5!important;
    border-radius: 50%;
    background-color: #39bbdb;
    box-shadow: 0 0 0 15px #f0f0f0;
}
.page-404 .outer .middle .inner .inner-circle span {
    font-size: 11em;
    font-weight: 700;
    line-height: 1.2em;

    display: block;

    -webkit-transition: all .4s;
    transition: all .4s;
    text-align: center;

    color: #e0e0e0;
}
.page-404 .outer .middle .inner .inner-status {
    font-size: 20px;

    display: block;

    margin-top: 20px;
    margin-bottom: 5px;

    text-align: center;

    color: #39bbdb;
}
.page-404 .outer .middle .inner .inner-detail {
    line-height: 1.4em;

    display: block;

    margin-bottom: 10px;

    text-align: center;

    color: #999999;
}



