<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="icon" type="image/ico" th:href="@{static/images/favicon.ico}">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" >
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <title>Velvet | About</title>
</head>
<body style="background-image: url(images/bgLoginImage1.png);">
<div>
<!--    <div id="home_button">-->
<!--        <button class="btn btn-primary-outline" type="button" onclick="location.href='drive'"></button>-->
<!--    </div>-->
    <div id="back_button">
        <button class="btn btn-primary-outline" type="button" onclick="location.href='drive'"><i class="fas fa-door-open"></i></button>
    </div>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-6 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: 1.5rem; background-color: #f0f8ff !important;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body p-4">
                                    <h3>About our project</h3>
                                    <hr class="mt-0 mb-4">
                                    <div class="row">
                                        <p>Hi! My name is <a href="https://www.linkedin.com/in/pshenai/">Anton Pshenychnyi</a>
                                            and this is my diploma project - <strong>a file storage service</strong> -  for Java Developer courses by
                                        <a href="https://prog.academy">prog.academy</a>.</p>
                                    </div>
                                    <h3>Disclaimer!</h3>
                                    <hr class="mt-0 mb-4">
                                    <div class="row">
                                        <p>
                                            This is <b>NOT</b> a real storage service, so don't upload any important information up here.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="js/bootstrap.bundle.js"></script>

</body>
</html>
