<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org" lang="en">
    <title>Velvet | Login</title>
    <link rel="icon" type="image/ico" th:href="@{static/images/favicon.ico}">
    <link href="css/styles.css" rel="stylesheet" >
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body style="background-image: url(images/bgLoginImage.png);">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <form action="/j_spring_security_check" method="post" style="margin-top: 250px" class="box">
                    <h1>Login</h1>
                    <a href="" style="margin: -80px -15px;" class="disModal" data-bs-toggle="modal" data-bs-target="#disModal">
                        <i class="fas fa-exclamation-circle"></i></a>
                    <p class="text-muted"> Please enter your credentials!</p>
                    <p><input type="text" name="login" th:value="${lastLogin}" placeholder="Email"></p>
                    <p class="login-input">
                        <input id="password" type="password" name="password" placeholder="Password">
                        <i id="togglePassword" class="bi bi-eye-slash"></i>
                    </p>
                    <!--                    <a class="forgot text-muted" href="#">Forgot password?</a>-->
                    <input id="submit" type="submit" value="Log In">
                    <div style="margin-bottom: 5px" class="text-danger">
                        <td th:text="${error} ? 'Wrong login or password. Please, try again.'"></td>
                    </div>
                    <div style="margin-bottom: 5px" class="text-light">
                        <td th:text="${successRegistration} ? 'Registration was successful!'"></td>
                        <td th:text="${logout} ? 'Logout was successful.'"></td>
                    </div>
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="/oauth2/authorization/facebook" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="/oauth2/authorization/google" class="icoGoogle" title="Google"><i class="fab fa-google"></i></a></li>
                            <li><a href="/oauth2/authorization/github" class="icoGithub" title="Github"><i class="fab fa-github"></i></a></li>

                        </ul>
                    </div>
                </form>
            </div>
                <div class="modal fade hide modal-tour" tabindex="-1" role="dialog" id="disModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content rounded-6 shadow">
                            <div class="modal-body p-5">
                                <h2 class="fw-bold mb-0">Disclaimer!</h2>
                                <ul class="d-grid gap-4 mt-5 list-unstyled">
                                    <li class="d-flex gap-4">
                                        <i class="fas fa-low-vision" style="font-size: 72px;"></i>
                                        <div>
                                            <h5 class="mb-0">Website view</h5>
                                            This site will not render correctly on phones!
                                            <br><strong>(Laptops and desktops recommended)</strong>
                                        </div>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-4 r-banner">
            <h1>New Here?</h1>
            <a href="/register" class="btn btn-info" role="button">Sign Up!</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/toggleVisibility.js"></script>
<script type="text/javascript">
    if ($(window).width () < 980) {
        $(window).on('load', function() {
            $('#disModal').modal('show');
        });
    }
</script>
</body>

</html>
