<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="icon" type="image/ico" th:href="@{static/images/favicon.ico}">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" >
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <title>Velvet | Plans</title>
</head>
<body style="background: url(images/bgLoginImage1.jpg) no-repeat; background-size: cover;">
<div class="container-fluid justify-content-center align-items-center plans">
    <div id="home_button">
        <button class="btn btn-primary-outline" type="button" onclick="location.href='drive'"></button>
    </div>
    <div id="back_button">
        <button class="btn btn-primary-outline" type="button" onclick="window.history.back()"><i class="fas fa-door-open"></i></button>
    </div>
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4" th:each="plan: ${plans}">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <div class="text-center p-3">
                            <h5 class="card-title" th:text="${plan.name}">Basic</h5>
                            <small>Individual</small>
                            <br><br>
                            <p><span class="h2" th:text="${plan.price}"></span>$/month</p>
                            <br><br>
                        </div>
                        <p id="space_text" class="card-text" th:text="${plan.space} + MB"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Increased space!
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Bigger numbers on the space bar!
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-check"></i>
                            Cool plan names
                        </li>
                    </ul>
                    <div class="card-body text-center">
                        <form th:action="@{'/pricing/' + ${plan.name}}" method="post">
                            <button id="submit_button" type="submit" class="btn btn-outline-primary btn-lg" style="color: aliceblue; margin-left: -20px">
                                Select
                            </button>
                        </form>
<!--                        <a th:href="@{'/pricing/' + ${plan.name}}" class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/bootstrap.bundle.js"></script>

</body>
</html>