<html>
<head xmlns:th="http://www.thymeleaf.org" lang="en">
    <title>Velvet | Register</title>
    <link rel="icon" type="image/ico" th:href="@{static/images/favicon.ico}">
    <link href="css/styles.css" rel="stylesheet" >
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body style="background-image: url(images/bgLoginImage.png);">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                    <form class="box" th:action="@{/newUser}" method="post">
                        <h1>Registration</h1>
                        <p class="text-muted"> Please fill all fields!</p>
                        <p><input type="text" name="email"  placeholder="Email"></p>
                        <p><input type="text" name="fullName" placeholder="Full name"></p>
                        <p class="login-input">
                            <input id="password" type="password"  name="password" placeholder="Password">
                            <i style="margin: -55px 25px;" id="togglePassword" class="bi bi-eye-slash"></i>
                        </p>
                        <p><input id="confirmPassword" type="password"  name="confirmPassword" placeholder="Confirm Password"></p>
    <!--                    <a class="forgot text-muted" href="#">Forgot password?</a>-->
                        <div style="margin-bottom: 5px" class="text-danger">
                            <td th:text="${emailExists} ? 'This email is already in use. Please, try another one.':''"></td>
                            <td th:text="${wrongEmail} ? 'This email is not valid. ' : ''"></td>
                            <td th:text="${samePassword} ? 'Passwords do not match. Please, try again.' : ''"></td>
                        </div>
                        <p><input id="submit" type="submit" value="Sign Up"></p>
                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="/oauth2/authorization/facebook" class="icoFacebook"
                                       title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="/oauth2/authorization/google" class="icoGoogle"
                                       title="Google"><i class="fab fa-google"></i></a></li>
                                <li><a href="/oauth2/authorization/github" class="icoGithub"
                                       title="Github"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </form>
            </div>
            <button type="button" style="display: none;" class="btn" data-bs-toggle="modal" data-bs-target="#disModal"></button>
            <div class="modal hide fade modal-tour" tabindex="-1" role="dialog" id="disModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-6 shadow">
                        <div class="modal-body p-5">
                            <h2 class="fw-bold mb-0">Disclaimer!</h2>
                            <ul class="d-grid gap-4 mt-5 list-unstyled">
                                <li class="d-flex gap-4">
                                    <i class="fas fa-low-vision" style="font-size: 72px;"></i>
                                    <div>
                                        <h5 class="mb-0">Website view</h5>
                                        This site will not render correctly on phones!
                                        <br><strong>(Laptops and desktops recommended)</strong>
                                    </div>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 r-banner">
            <h1 style="color: #e3fbfd;">Already have an account?</h1>
            <a href="/login" class="btn btn-info" role="button">Sign In!</a>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/toggleVisibility.js"></script>
<script type="text/javascript">
    if ($(window).width () < 980) {
        $(window).on('load', function() {
            $('#disModal').modal('show');
        });
    }
</script>
</body>

</html>